* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(to right, #76b852, #8DC26F);
	font-family: 'Roboto', sans-serif;
}

.form {
	position: relative;
	background-color: white;
	margin: 200px auto;
	width: 503px;
	height: 353px;
	box-shadow: 0 0 25px #383535;
}

.form-body {
	position: absolute;
	top: 50px;
	width: 403px;
	margin: 0 50px 0 50px;
}

input[type=text] {
	width: 100%;
	height: 73px;
	margin: 10px 0 10px 0;
	background-color: whitesmoke;
	border: none;
	color: dimgray;
	text-indent: 25px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

input[type=password] {
	width: 100%;
	height: 73px;
	margin: 10px 0 10px 0;
	background-color: whitesmoke;
	border: none;
	color: dimgray;
	text-indent: 25px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}

input[type=submit] {
	width: 100%;
	height: 60px;
	margin-top: 10px;
	background-color: mediumseagreen;
	color: white;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

input:focus {
	outline: none;
}

input[type=submit]:hover {
	background-color: forestgreen;
}

.form-footer {
	position: absolute;
    bottom: 12px;
    left: 154px;
    font-size: 14px;
}

.form-footer a {
	text-decoration: none;
    color: forestgreen;
    font-weight: bold;
    cursor: default;
}